
# xcode specific files
DerivedData/
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/*.xccheckout
*.xcworkspace/xcshareddata/*.xcscmblueprint
*.playground/**/timeline.xctimeline
*.xcplayground

# Build artefacts
Builds/
.build/

# Package Manager folders
Pods/
Carthage/Build/

# System Files
.DS_Store

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Swift Package Manager
Packages/
Package.pins
Package.resolved