## User settings
xcuserdata/

# xcode specific files
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcuserstate

# Build artefacts
builds/

# Package Manager folders
Pods/
Carthage/Build/
.build/

# System Files
.DS_Store

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
